{# Сводка: сколько горит и когда ближайший срок. #}
<div class="сводка">
  <div class="ячейка {% if сводка.просрочено %}overdue{% endif %}">
    <p class="подпись-числа">просрочено</p>
    <p class="число">{{ сводка.просрочено }}</p>
  </div>
  <div class="ячейка {% if сводка.скоро %}soon{% endif %}">
    <p class="подпись-числа">скоро</p>
    <p class="число">{{ сводка.скоро }}</p>
  </div>
  <div class="ячейка">
    <p class="подпись-числа">всего дел</p>
    <p class="число">{{ сводка.всего }}</p>
  </div>
  <div class="ячейка">
    <p class="подпись-числа">ближайший срок</p>
    <p class="дата">{{ сводка.ближайший_текст }}</p>
  </div>
</div>
