{# Сводка одной строкой: что горит и когда ближайший срок. #}
<div class="сводка">
  <span class="число {% if сводка.просрочено %}overdue{% endif %}">
    <b>{{ сводка.просрочено }}</b> просрочено</span>
  <span class="число {% if сводка.скоро %}soon{% endif %}">
    <b>{{ сводка.скоро }}</b> скоро</span>
  <span class="число"><b>{{ сводка.всего }}</b> {{ сводка.слово_дел }}</span>
  <span class="число тихо">ближайший срок {{ сводка.ближайший_текст }}</span>
  <a class="кнопка добавить" href="{{ адрес_нового }}">+ дело</a>
</div>
